extends layout.pug	

block prepend head
	- var pageTitle = "Aflac"
	
block append content
		#barba-wrapper
			.barba-container#aflac
				include includes/_scrollbar.pug
				include includes/_menu.pug
				#menu-btn.initreveal
					<svg id="burger" width="14" class="openmenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path class="top" d="M0 6h30v2H0z"/><line class="mid" x1="0" y1="15" x2="30" y2="15" stroke-width="1.4" vector-effect="non-scaling-stroke"/><path class="bot" d="M0 22h30v2H0z"/></svg>
					#menuText.small Other work
		
				.container
					section.grid-container.intro#hero-aflac
						.content-hero.parallaxH
							+mixin_hero('Aflac','Protect','Web | Concept, Art Direction, Design, & Motion')
							.herotext.description
								p.fadeInMove Aflac came to Publicis Sapient for a homepage refresh.  We found that many folks knew Aflac for “the duck” but didn’t actually know who or what they did. Their existing homepage was on the extreme, utilitarian end of the spectrum and didn’t give any context. We aimed to evolve it into something that was fun, reassuring, and eductational while still providing the utility.
					
					.section-title.parallaxST Redesign
					section.grid-container.content
						.wrapper-12.trigger.trigger-s
							.eyebrow.fadeInMove Homepage
							video.video.fadeInMove(preload="auto" controls poster="assets/vid/tmo-switcher-hp-qs-poster.jpg")
								source(src="assets/vid/tmo-switcher-hp-qs.webm" type="video/webm")
								source(src="assets/vid/tmo-switcher-hp-qs.mp4" type="video/mp4")
									
						+mixin_overlap('','assets/img/subpage/aflac/aflac-01-L.jpg','assets/img/subpage/aflac/aflac-01-S@3x.png')
					
					img.leaf.parallaxST(src="assets/img/subpage/aflac/aflacendsection1-leaf-fg.png")
					#aflacendsection1.parallaxSD
					
					
					.section-title.parallaxST Seasonal
					section.grid-container.content
						+mixin_overlap3up('Seasonal Visuals','assets/img/subpage/aflac/aflac-02-fall.jpg','assets/img/subpage/aflac/aflac-02-winter.jpg','assets/img/subpage/aflac/aflac-02-summer.jpg')
					
					#aflacendsection2.parallaxSD
						
						
					.section-title.parallaxST Assure
					section.grid-container.content
						+mixin_5050-iRight('Adding depth','Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.','assets/img/subpage/aflac/aflac-03@3x.png')
						+mixin_5050-iLeft('Lightening the mood', 'Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui.', 'assets/img/subpage/aflac/aflac-04@3x.png')
						+mixin_5050-iRight('Counting costs', 'Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.','assets/img/subpage/aflac/aflac-05@3x.png')
												
					#aflacendsection3.parallaxSD
						img.bubbles-fg(src="assets/img/subpage/aflac/aflacendsection3-bubbles-fg.png")
						img.bubbles-mg(src="assets/img/subpage/aflac/aflacendsection3-bubbles-mg.png")
						img.bubbles-bg.parallaxST(src="assets/img/subpage/aflac/aflacendsection3-bubbles-bg.png")
						


					.footer.trigger.trigger-s
						#circle.nextPrjt.fadeInMove
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
									<defs>
											<path id="circlePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
									</defs>
									<circle cx="150" cy="150" r="150" fill="none"/>
									<g>
											<use xlink:href="#circlePath" fill="none"/>
											<text fill="#9B9B9B">
													<textPath xlink:href="#circlePath" textLength="730" lengthAdjust="spacing">Country Music • Hall of Fame •</textPath>
											</text>
									</g>
							</svg>
						a#next.title.fadeInMove(href="cmhf.html") Next
						
					include includes/_footer.pug
