extends layout.pug	

block prepend head
	- var pageTitle = "Aflac"
	- var active = "aflac"
	
block append content
		#barba-wrapper
			.barba-container#aflac
				include includes/_scrollbar.pug
				include includes/_menu.pug
				#menu-btn.initreveal
					<svg id="burger" width="14" class="openmenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path class="top" d="M0 6h30v2H0z"/><line class="mid" x1="0" y1="15" x2="30" y2="15" stroke-width="1.4" vector-effect="non-scaling-stroke"/><path class="bot" d="M0 22h30v2H0z"/></svg>
					#menuText.small Other work
		
				.container
					section.grid-container.intro#hero-aflac
						.content-hero.parallaxH
							+mixin_hero('Aflac','Protect','Web | Concept, Design, Motion & Art Dir.')
							.herotext.description
								p.fadeInMove Aflac came for a homepage refresh. We found that many folks knew Aflac for “the duck” but didn’t actually know who they were or what they did. Their existing homepage was on the extreme utilitarian end of the spectrum and didn’t give any context. We aimed to evolve it into something fun, reassuring, and educational while still providing utility.
								p.fadeInMove I was able to help develop the overall concept, set the design direction, motion studies via interactive prototypes, as well as oversee two other designers.
					
					.section-title.parallaxST Redesign
					section.grid-container.content
						.wrapper-12.trigger.trigger-s
							.eyebrow.fadeInMove Homepage
							video.video.fadeInMove(preload="auto" controls poster="assets/vid/aflac-hp-desktop-poster.jpg")
								source(src="assets/vid/aflac-hp-desktop.webm" type="video/webm")
								source(src="assets/vid/aflac-hp-desktop.mp4" type="video/mp4")
									
									
						+mixin_overlap('','assets/img/subpage/aflac/aflac-01-L.jpg','assets/img/subpage/aflac/aflac-01-S@3x.png')
					
					img.leaf.parallaxST(src="assets/img/subpage/aflac/aflacendsection1-leaf-fg.png")
					#aflacendsection1.parallaxSD
					
					
					.section-title.parallaxST Seasonal
					section.grid-container.content
						+mixin_overlap3up('Seasonal Visuals','assets/img/subpage/aflac/aflac-02-fall.jpg','assets/img/subpage/aflac/aflac-02-winter.jpg','assets/img/subpage/aflac/aflac-02-summer.jpg')
					
					#aflacendsection2.parallaxSD
						
						
					.section-title.parallaxST Assure
					section.grid-container.content
						+mixin_5050-iRight('Adding depth','We wanted to provide deeper context to help prospective customers know who Aflac is and what they do. We also wanted to help facilitate a deeper connection, showing candid photography that told a story. And finally, carrying that depth into the site design and experience with interactive tools and parallax scrolling.','assets/img/subpage/aflac/aflac-03@3x.png')
						+mixin_5050-iLeft('Lightening the mood', 'The overall art direction aimed to reassure, ease the mindset as prospective customers shop for a complicated service. We developed an icon/illustration style that was clear and simple without being sterile. The interface and interactions followed suit with airy whitespace and simple animations.', 'assets/img/subpage/aflac/aflac-04@3x.png')
						+mixin_5050-iRight('Counting costs', 'Aflac had a simple cost calculator buried deep within their site. We surfaced it to the homepage to help illustrate more clearly how Aflac could help cover medical costs.','assets/img/subpage/aflac/aflac-05@3x.png')
												
					#aflacendsection3.parallaxSD
						img.bubbles-fg(src="assets/img/subpage/aflac/aflacendsection3-bubbles-fg.png")
						img.bubbles-mg(src="assets/img/subpage/aflac/aflacendsection3-bubbles-mg.png")
						img.bubbles-bg.parallaxST(src="assets/img/subpage/aflac/aflacendsection3-bubbles-bg.png")
						


					.footer.trigger.trigger-s
						#circle.nextPrjt.fadeInMove
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
									<defs>
											<path id="circlePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
									</defs>
									<circle cx="150" cy="150" r="150" fill="none"/>
									<g>
											<use xlink:href="#circlePath" fill="none"/>
											<text fill="#9B9B9B">
													<textPath xlink:href="#circlePath" textLength="730" lengthAdjust="spacing">Country Music • Hall of Fame •</textPath>
											</text>
									</g>
							</svg>
						a#next.title.fadeInMove(href="cmhf.html") Next
						
					include includes/_footer.pug
