extends layout.pug	

block prepend head
	- var pageTitle = "Country Music Hall of Fame"
block content
	#menu-btn
		<svg id="burger" width="14" class="openmenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path class="top" d="M0 6h30v2H0z"/><line class="mid" x1="0" y1="15" x2="30" y2="15" stroke-width="1.4" vector-effect="non-scaling-stroke"/><path class="bot" d="M0 22h30v2H0z"/></svg>
		#menuText.small Other work
		
	.container
		section.grid-container.intro.revealMove.load-hidden#hero-cmhf
			.content-hero.revealMove.load-hidden
				+mixin_hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
				.herotext.description
					p Located in Nashville, TN, Country Music Hall of Fame and Museum preserves the history and cultural importance of this music genre. They invited The Tombras Group, where I served as a visual designer, to pitch a tri-part site suite. In addition to the museum, CMHF manages two other historic entities: the legendary Hatch Show Print and Historic Studio B.
					p What started as a pitch, this responsive design concept became more of an exercise in process and thinking. I was able to extend the initial ideas into more thoughtful design systems.
	
		.section-title Pages
		section.grid-container.content
			
			+mixin_overlap('Homepage','assets/img/subpage/cmhf/cmhf-01-L.jpg','assets/img/subpage/cmhf/cmhf-01-S@2x.png')
		
			.info.caption Hotspot interaction
			video.video.revealFade.load-hidden(preload="auto" autoplay loop controls poster="assets/vid/cmhf-homepage-poster.jpg")
				source(src="assets/vid/cmhf-homepage.webm" type="video/webm")
				source(src="assets/vid/cmhf-homepage.mp4" type="video/mp4")
			//- .video.revealFade.load-hidden
			//- 	iframe(
			//- 		type="text/html"
			//- 		width="1920px"
			//- 		height="1080px"
			//- 		src="https://www.youtube.com/embed/sZ08Yr0bhUk?autoplay=0&controls=0&loop=1&playlist=sZ08Yr0bhUk&rel=0&showinfo=0&color=white&modestbranding=1"
			//- 		frameborder="0"
			//- 		allowfullscreen)
			+mixin_overlap('Exhibits & Collections', 'assets/img/subpage/cmhf/cmhf-02-L.jpg', 'assets/img/subpage/cmhf/cmhf-02-S@2x.png')
			.info.caption Inductee info
			video.video.revealFade.load-hidden(preload="auto" autoplay loop controls poster="assets/vid/cmhf-inductee-poster.jpg")
				source(src="assets/vid/cmhf-inductee.webm" type="video/webm")
				source(src="assets/vid/cmhf-inductee.mp4" type="video/mp4")
			+mixin_overlap('Exhibit', 'assets/img/subpage/cmhf/cmhf-03-L.jpg', 'assets/img/subpage/cmhf/cmhf-03-S@2x.png')
			+mixin_overlap('Hall of Fame Inductee', 'assets/img/subpage/cmhf/cmhf-05-L.jpg', 'assets/img/subpage/cmhf/cmhf-05-S@2x.png')
			//- .video.revealFade.load-hidden
			//- 	iframe(
			//- 		type="text/html"
			//- 		width="1920px"
			//- 		height="1080px"
			//- 		src="https://www.youtube.com/embed/https://youtu.be/Vtqhn2ovhu4?autoplay=0&controls=0&loop=1&playlist=https://youtu.be/Vtqhn2ovhu4&rel=0&showinfo=0&color=white&modestbranding=1"
			//- 		frameborder="0"
			//- 		allowfullscreen)
			//- .video.revealFade.load-hidden
			//- 	iframe(
			//- 		frameborder="0"
			//- 		width="1920"
			//- 		height="1080"
			//- 		src="//www.dailymotion.com/embed/video/x6v3rvy?autoPlay=1"
			//- 		allowfullscreen=""
			//- 		allow="autoplay"
			//- 		)
			
							
			
		
		#cmhfendsection1

		.footer
			#circle.nextPrjt
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
						<defs>
								<path id="circlePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
						</defs>
						<circle cx="150" cy="150" r="150" fill="none"/>
						<g>
								<use xlink:href="#circlePath" fill="none"/>
								<text fill="#9B9B9B">
										<textPath xlink:href="#circlePath">T-Mobile • Switcher • T-Mobile •</textPath>
								</text>
						</g>
				</svg>
			a#next.title.revealMove.load-hidden(href="tmo-switcher.html") Next
			
		include includes/_footer.pug
