extends layout.pug	

block prepend head
	- var pageTitle = "Isaac Martin – Designer"
block content
	section.content-container
		a.reveal.grid#hero-tmo(href="tmo-switcher.html")
			+mixin_hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
		.divider
		a.reveal.grid#hero-vw(href="#")
			+mixin_hero('Volkswagen Car-Net','Smart Car','App | Concept, Design, & Motion')
		.divider
		a.reveal.grid#hero-cmhf(href="#")
			+mixin_hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
		.divider
		a.reveal.grid#hero-tmo(href="#")
			+mixin_hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
		.divider
		a.reveal.grid#hero-vw(href="#")
			+mixin_hero('Volkswagen Car-Net','Smart Car','App | Concept, Design, & Motion')
		.divider
		a.reveal.grid#hero-cmhf(href="#")
			+mixin_hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
		.divider
