doctype html

//- mixins –––––––––––––––––––––––––––––––––––––––––––––––––––
//- ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
mixin mixin-hero(eyebrow, title, info)
	.content-hero
		.hero-eyebrow= eyebrow
		h2.hero-title= title
		.hero-info= info

html
	include includes/_head.pug

	body
		include includes/_nav.pug
		include includes/_index-content.pug
