doctype html
include includes/_mixins.pug

html
	include includes/_head.pug

	body
		include includes/_nav.pug
		include includes/_index-content.pug
		script(
			src='assets/js/nav.js'
			)
		script sr.reveal('.grid', { container: '.content-container' });
		//-script(
			src='assets/js/scroll.js'
			)
