doctype html
include includes/_mixins.pug

html
	include includes/_head.pug

	body
		include includes/_nav.pug
		include includes/_index-content.pug
		script(
			src='assets/js/nav.js'
			)
		script(
			src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
			)
		script(
			src='assets/js/scrollreveal-simple.js'
			)
		//-script(
			src='assets/js/scroll.js'
			)
