{
  "name": "portfolio-site-2.0",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-phone-assistance@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":449935,\"newSize\":449935}}"
    },
    {
      "path": "assets/img/index/bg-CMHF.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":274183,\"newSize\":292011}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-01@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":2536444,\"newSize\":1849503}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-02@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":707662,\"newSize\":352853}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-03@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":803880,\"newSize\":456977}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-04@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":706804,\"newSize\":349576}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-05@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":680189,\"newSize\":333370}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-06@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":603717,\"newSize\":286595}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-07@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":585255,\"newSize\":270261}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-08@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":629765,\"newSize\":306707}}"
    },
    {
      "path": "assets/img/subpage/odi/odiendsection1@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":1897694,\"newSize\":1447384}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-01-S@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":486679,\"newSize\":310405}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-01-S@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":882854,\"newSize\":527396}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-phone-destinations@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":751305,\"newSize\":380158}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-phone-health@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":810820,\"newSize\":469609}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-phone-remote-key@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":434128,\"newSize\":434128}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-phone-tracking@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":231179,\"newSize\":231179}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-watch-01@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":692500,\"newSize\":410457}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-watch-02@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":617691,\"newSize\":336331}}"
    },
    {
      "path": "assets/img/subpage/vw/vwendsection1@3x.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":652401,\"newSize\":680592}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-watch-03@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":739602,\"newSize\":423934}}"
    },
    {
      "path": "assets/img/subpage/vw/vw-watch-04@3x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":613828,\"newSize\":329972}}"
    },
    {
      "path": "assets/img/subpage/cmhf/cmhf-01-S@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":507971,\"newSize\":507971}}"
    },
    {
      "path": "assets/img/subpage/cmhf/cmhf-02-S@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":413188,\"newSize\":413188}}"
    },
    {
      "path": "assets/img/subpage/cmhf/cmhf-03-S@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":490498,\"newSize\":490498}}"
    },
    {
      "path": "assets/img/subpage/cmhf/cmhf-05-S@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":346044,\"newSize\":346044}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-02@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":404948,\"newSize\":198487}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-03@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":445790,\"newSize\":250725}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-01@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":1325811,\"newSize\":992371}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-04@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":407003,\"newSize\":199112}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-05@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":387995,\"newSize\":190384}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-06@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":337764,\"newSize\":169686}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-07@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":325109,\"newSize\":159966}}"
    },
    {
      "path": "assets/img/subpage/odi/odi-08@2x.png",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-png\":{\"enabled\":true,\"originalSize\":355976,\"newSize\":180484}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/img",
      "assets/img/subpage/odi",
      "assets/img/index",
      "assets/img/subpage/tmo-switcher",
      "assets/img/subpage/vw"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "404.pug",
      "imports": [
        "layout.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "500.pug",
      "imports": [
        "layout.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "cmhf.pug",
      "imports": [
        "layout.pug",
        "includes/_scrollbar.pug",
        "includes/_menu.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "index.pug",
      "imports": [
        "layout.pug",
        "includes/_scrollbar.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "layout.pug",
      "imports": [
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug",
        "includes/_menu.pug"
      ]
    },
    {
      "path": "odi.pug",
      "imports": [
        "layout.pug",
        "includes/_scrollbar.pug",
        "includes/_menu.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "tmo-switcher.pug",
      "imports": [
        "layout.pug",
        "includes/_scrollbar.pug",
        "includes/_menu.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "vw.pug",
      "imports": [
        "layout.pug",
        "includes/_scrollbar.pug",
        "includes/_menu.pug",
        "includes/_footer.pug",
        "includes/_mixins.pug",
        "includes/_head.pug",
        "includes/_nav.pug"
      ]
    },
    {
      "path": "assets/css/makeitpretty.scss",
      "imports": [
        "assets/css/_normalize.scss",
        "assets/css/_mixins.scss",
        "assets/css/_colors.scss",
        "assets/css/_type.scss",
        "assets/css/_nav.scss",
        "assets/css/_index.scss",
        "assets/css/_subpage.scss",
        "assets/css/_menu.scss",
        "assets/css/_mediaqueries.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "mp4",
      "webm",
      "ico"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": false,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/isaacmart.in/dev/portfolio-2.0/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "173.236.187.78",
      "port": 21,
      "user": "isamar14",
      "password": "670a$LEvuHQ@"
    },
    "sftp": {
      "host": "www.isaacmart.in",
      "port": 22,
      "usePrivateKey": false,
      "username": "isamart14",
      "password": "670a$LEvuHQ@",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      "/.gitignore",
      "/.gitattributes",
      "*.map",
      "/_scratch paper",
      "/layout.html",
      "/layout.html",
      "/assets/img/subpage/odi/odiendsection1@3x.png",
      "/assets/img/subpage/odi/odiendsection1@3x.png",
      "/assets/js/scrollreveal.min.js",
      "/assets/js/scrollreveal.js",
      "/assets/js/jquery.fitvids.js",
      "/assets/js/lazyload.js",
      "/assets/js/barba.min.js"
    ],
    "history": [
      {
        "file": "assets/css/makeitpretty.css",
        "ctime": "2019-03-06T17:41:52.896Z",
        "mtime": "2019-03-06T17:41:52.896Z",
        "size": 29896
      },
      {
        "file": "assets/img/logo-mark.svg",
        "ctime": "2018-03-17T18:43:07.000Z",
        "mtime": "2018-03-17T18:43:07.000Z",
        "size": 1306
      },
      {
        "file": "assets/js/CustomEase.min.js",
        "ctime": "2019-01-30T21:32:46.803Z",
        "mtime": "2019-01-30T21:32:46.803Z",
        "size": 5227
      },
      {
        "file": "assets/js/jquery.fitvids.js",
        "ctime": "2019-01-30T21:32:46.804Z",
        "mtime": "2019-01-30T21:32:46.804Z",
        "size": 3350
      },
      {
        "file": "assets/js/lazyload.js",
        "ctime": "2019-01-30T21:32:46.805Z",
        "mtime": "2019-01-30T21:32:46.805Z",
        "size": 6676
      },
      {
        "file": "assets/img/subpage/bg-cmhf.jpg",
        "ctime": "2019-01-30T21:40:09.886Z",
        "mtime": "2019-01-30T21:40:09.886Z",
        "size": 272776
      },
      {
        "file": "assets/img/subpage/bg-odi.jpg",
        "ctime": "2019-01-30T21:40:09.887Z",
        "mtime": "2019-01-30T21:40:09.887Z",
        "size": 96847
      },
      {
        "file": "assets/img/subpage/bg-tmo.jpg",
        "ctime": "2019-01-30T21:32:46.615Z",
        "mtime": "2019-01-30T21:32:46.615Z",
        "size": 57533
      },
      {
        "file": "assets/img/subpage/bg-vw.jpg",
        "ctime": "2019-01-30T21:40:09.889Z",
        "mtime": "2019-01-30T21:40:09.889Z",
        "size": 163701
      },
      {
        "file": "assets/img/subpage/tmo-switcher/lp-results.jpg",
        "ctime": "2019-01-30T21:32:46.713Z",
        "mtime": "2019-01-30T21:32:46.713Z",
        "size": 1429293
      },
      {
        "file": "assets/img/subpage/tmo-switcher/lp-timeline.jpg",
        "ctime": "2019-01-30T21:32:46.720Z",
        "mtime": "2019-01-30T21:32:46.720Z",
        "size": 1269420
      },
      {
        "file": "assets/img/subpage/tmo-switcher/q1-2116w.jpg",
        "ctime": "2019-01-30T21:32:46.722Z",
        "mtime": "2019-01-30T21:32:46.722Z",
        "size": 131110
      },
      {
        "file": "assets/img/subpage/tmo-switcher/q2-2116w.jpg",
        "ctime": "2019-01-30T21:32:46.723Z",
        "mtime": "2019-01-30T21:32:46.723Z",
        "size": 51792
      },
      {
        "file": "assets/img/subpage/tmo-switcher/q3-2116w.jpg",
        "ctime": "2019-01-30T21:32:46.723Z",
        "mtime": "2019-01-30T21:32:46.723Z",
        "size": 87219
      },
      {
        "file": "assets/img/subpage/tmo-switcher/section-01-bg.jpg",
        "ctime": "2019-01-30T21:32:46.724Z",
        "mtime": "2019-01-30T21:32:46.724Z",
        "size": 42032
      },
      {
        "file": "assets/img/subpage/tmo-switcher/tmoendsection1-bg.jpg",
        "ctime": "2019-01-30T21:32:46.725Z",
        "mtime": "2019-01-30T21:32:46.725Z",
        "size": 74813
      },
      {
        "file": "assets/img/subpage/tmo-switcher/tmoendsection2-bg.jpg",
        "ctime": "2019-01-30T21:32:46.725Z",
        "mtime": "2019-01-30T21:32:46.725Z",
        "size": 72942
      },
      {
        "file": "assets/img/subpage/tmo-switcher/video-2706w.jpg",
        "ctime": "2019-01-30T21:32:46.726Z",
        "mtime": "2019-01-30T21:32:46.726Z",
        "size": 131110
      },
      {
        "file": "assets/img/subpage/vw/remote-key@2x.png",
        "ctime": "2019-01-30T21:32:46.728Z",
        "mtime": "2019-01-30T21:32:46.728Z",
        "size": 225762
      },
      {
        "file": "assets/img/subpage/vw/vw-dashboard@2x.png",
        "ctime": "2019-01-30T21:32:46.742Z",
        "mtime": "2019-01-30T21:32:46.742Z",
        "size": 688493
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-assistance@2x.png",
        "ctime": "2019-01-30T21:32:46.745Z",
        "mtime": "2019-01-30T21:32:46.745Z",
        "size": 469008
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-destinations@2x.png",
        "ctime": "2019-01-30T21:32:46.751Z",
        "mtime": "2019-01-30T21:32:46.751Z",
        "size": 392674
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-health@2x.png",
        "ctime": "2019-01-30T21:32:46.757Z",
        "mtime": "2019-01-30T21:32:46.757Z",
        "size": 461566
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-remote-key@2x.png",
        "ctime": "2019-01-30T21:32:46.763Z",
        "mtime": "2019-01-30T21:32:46.763Z",
        "size": 429555
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-tracking@2x.png",
        "ctime": "2019-01-30T21:32:46.769Z",
        "mtime": "2019-01-30T21:32:46.769Z",
        "size": 281262
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-01@2x.png",
        "ctime": "2019-01-30T21:32:46.774Z",
        "mtime": "2019-01-30T21:32:46.774Z",
        "size": 365830
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-02@2x.png",
        "ctime": "2019-01-30T21:32:46.779Z",
        "mtime": "2019-01-30T21:32:46.779Z",
        "size": 349083
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-03@2x.png",
        "ctime": "2019-01-30T21:32:46.784Z",
        "mtime": "2019-01-30T21:32:46.784Z",
        "size": 421481
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-04@2x.png",
        "ctime": "2019-01-30T21:32:46.790Z",
        "mtime": "2019-01-30T21:32:46.790Z",
        "size": 336263
      },
      {
        "file": "assets/img/subpage/vw/vwendsection1@2x.jpg",
        "ctime": "2019-01-30T21:32:46.795Z",
        "mtime": "2019-01-30T21:32:46.795Z",
        "size": 325760
      },
      {
        "file": "assets/img/subpage/vw/vwendsection2@2x.jpg",
        "ctime": "2019-01-30T21:32:46.800Z",
        "mtime": "2019-01-30T21:32:46.800Z",
        "size": 193370
      },
      {
        "file": "index.html",
        "ctime": "2019-03-06T18:21:38.719Z",
        "mtime": "2019-03-06T18:21:38.719Z",
        "size": 9485
      },
      {
        "file": "tmo-switcher.html",
        "ctime": "2019-03-06T18:23:41.634Z",
        "mtime": "2019-03-06T18:23:41.634Z",
        "size": 10255
      },
      {
        "file": "vw.html",
        "ctime": "2019-03-06T18:23:26.374Z",
        "mtime": "2019-03-06T18:23:26.374Z",
        "size": 13744
      },
      {
        "file": "assets/img/_archive/ic_add_14px.svg",
        "ctime": "2019-01-30T21:32:46.548Z",
        "mtime": "2019-01-30T21:32:46.548Z",
        "size": 477
      },
      {
        "file": "assets/img/_archive/ic_close_14px.svg",
        "ctime": "2019-01-30T21:32:46.548Z",
        "mtime": "2019-01-30T21:32:46.548Z",
        "size": 519
      },
      {
        "file": "assets/img/_archive/ic_info_outline_14px.svg",
        "ctime": "2019-01-30T21:32:46.548Z",
        "mtime": "2019-01-30T21:32:46.548Z",
        "size": 632
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-01-L.jpg",
        "ctime": "2019-01-30T21:32:46.621Z",
        "mtime": "2019-01-30T21:32:46.621Z",
        "size": 757797
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-01-S@2x.png",
        "ctime": "2019-01-30T21:32:46.625Z",
        "mtime": "2019-01-30T21:32:46.625Z",
        "size": 507971
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-02-L.jpg",
        "ctime": "2019-01-30T21:32:46.628Z",
        "mtime": "2019-01-30T21:32:46.628Z",
        "size": 646332
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-02-S@2x.png",
        "ctime": "2019-01-30T21:32:46.631Z",
        "mtime": "2019-01-30T21:32:46.631Z",
        "size": 413188
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-03-L.jpg",
        "ctime": "2019-01-30T21:32:46.636Z",
        "mtime": "2019-01-30T21:32:46.636Z",
        "size": 1012804
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-03-S@2x.png",
        "ctime": "2019-01-30T21:32:46.640Z",
        "mtime": "2019-01-30T21:32:46.640Z",
        "size": 490498
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-05-L.jpg",
        "ctime": "2019-01-30T21:32:46.643Z",
        "mtime": "2019-01-30T21:32:46.643Z",
        "size": 548672
      },
      {
        "file": "assets/img/subpage/cmhf/cmhf-05-S@2x.png",
        "ctime": "2019-01-30T21:32:46.646Z",
        "mtime": "2019-01-30T21:32:46.646Z",
        "size": 346044
      },
      {
        "file": "assets/img/subpage/cmhf/cmhfendsection1@2x.jpg",
        "ctime": "2019-01-30T21:32:46.649Z",
        "mtime": "2019-01-30T21:32:46.649Z",
        "size": 414604
      },
      {
        "file": "assets/img/subpage/odi/odi-01@2x.png",
        "ctime": "2019-01-30T21:32:46.659Z",
        "mtime": "2019-01-30T21:32:46.659Z",
        "size": 992371
      },
      {
        "file": "assets/img/subpage/odi/odi-02@2x.png",
        "ctime": "2019-01-30T21:32:46.670Z",
        "mtime": "2019-01-30T21:32:46.670Z",
        "size": 198487
      },
      {
        "file": "assets/img/subpage/odi/odi-03@2x.png",
        "ctime": "2019-01-30T21:32:46.674Z",
        "mtime": "2019-01-30T21:32:46.674Z",
        "size": 250725
      },
      {
        "file": "assets/img/subpage/odi/odi-04@2x.png",
        "ctime": "2019-01-30T21:32:46.678Z",
        "mtime": "2019-01-30T21:32:46.678Z",
        "size": 199112
      },
      {
        "file": "assets/img/subpage/odi/odi-05@2x.png",
        "ctime": "2019-01-30T21:32:46.682Z",
        "mtime": "2019-01-30T21:32:46.682Z",
        "size": 190384
      },
      {
        "file": "assets/img/subpage/odi/odi-06@2x.png",
        "ctime": "2019-01-30T21:32:46.686Z",
        "mtime": "2019-01-30T21:32:46.686Z",
        "size": 169686
      },
      {
        "file": "assets/img/subpage/odi/odi-07@2x.png",
        "ctime": "2019-01-30T21:32:46.689Z",
        "mtime": "2019-01-30T21:32:46.689Z",
        "size": 159966
      },
      {
        "file": "assets/img/subpage/odi/odi-08@2x.png",
        "ctime": "2019-01-30T21:32:46.693Z",
        "mtime": "2019-01-30T21:32:46.693Z",
        "size": 180484
      },
      {
        "file": "assets/img/subpage/odi/odiendsection1@2x.jpg",
        "ctime": "2019-01-30T21:32:46.698Z",
        "mtime": "2019-01-30T21:32:46.698Z",
        "size": 327937
      },
      {
        "file": "assets/img/subpage/odi/odiendsection2@2x.jpg",
        "ctime": "2019-01-30T21:32:46.703Z",
        "mtime": "2019-01-30T21:32:46.703Z",
        "size": 189229
      },
      {
        "file": "cmhf.html",
        "ctime": "2019-03-06T18:23:52.219Z",
        "mtime": "2019-03-06T18:23:52.219Z",
        "size": 10492
      },
      {
        "file": "odi.html",
        "ctime": "2019-03-06T18:23:59.773Z",
        "mtime": "2019-03-06T18:23:59.773Z",
        "size": 13372
      },
      {
        "file": "404.html",
        "ctime": "2019-03-06T18:18:22.498Z",
        "mtime": "2019-03-06T18:18:22.498Z",
        "size": 6931
      },
      {
        "file": "assets/img/index/bringo.gif",
        "ctime": "2019-01-30T21:32:46.562Z",
        "mtime": "2019-01-30T21:32:46.562Z",
        "size": 1551350
      },
      {
        "file": "assets/img/index/nachos.gif",
        "ctime": "2019-01-30T21:32:46.566Z",
        "mtime": "2019-01-30T21:32:46.566Z",
        "size": 458287
      },
      {
        "file": "assets/img/index/onepaperfourcoin.gif",
        "ctime": "2019-01-30T21:32:46.570Z",
        "mtime": "2019-01-30T21:32:46.570Z",
        "size": 844494
      },
      {
        "file": "assets/img/index/sleep.gif",
        "ctime": "2019-01-30T21:32:46.586Z",
        "mtime": "2019-01-30T21:32:46.586Z",
        "size": 2245094
      },
      {
        "file": "assets/img/index/what.gif",
        "ctime": "2019-01-30T21:32:46.612Z",
        "mtime": "2019-01-30T21:32:46.612Z",
        "size": 386383
      },
      {
        "file": "assets/vid/cmhf-homepage.mp4",
        "ctime": "2019-01-30T21:32:46.818Z",
        "mtime": "2019-01-30T21:32:46.818Z",
        "size": 2044994
      },
      {
        "file": "assets/vid/cmhf-homepage.webm",
        "ctime": "2019-01-30T21:32:46.821Z",
        "mtime": "2019-01-30T21:32:46.821Z",
        "size": 842712
      },
      {
        "file": "assets/vid/cmhf-inductee.mp4",
        "ctime": "2019-01-30T21:32:46.827Z",
        "mtime": "2019-01-30T21:32:46.827Z",
        "size": 889451
      },
      {
        "file": "assets/vid/cmhf-inductee.webm",
        "ctime": "2019-01-30T21:32:46.829Z",
        "mtime": "2019-01-30T21:32:46.829Z",
        "size": 409063
      },
      {
        "file": "assets/vid/tmo-switcher-hp-qs.mp4",
        "ctime": "2019-01-30T21:32:46.842Z",
        "mtime": "2019-01-30T21:32:46.842Z",
        "size": 2048031
      },
      {
        "file": "assets/vid/tmo-switcher-hp-qs.webm",
        "ctime": "2019-01-30T21:32:46.847Z",
        "mtime": "2019-01-30T21:32:46.847Z",
        "size": 1229125
      },
      {
        "file": "assets/vid/tmo-switcher-results.mp4",
        "ctime": "2019-01-30T21:32:46.871Z",
        "mtime": "2019-01-30T21:32:46.871Z",
        "size": 7027985
      },
      {
        "file": "assets/vid/tmo-switcher-results.webm",
        "ctime": "2019-01-30T21:32:46.880Z",
        "mtime": "2019-01-30T21:32:46.880Z",
        "size": 4206655
      },
      {
        "file": "assets/vid/cmhf-homepage-poster.jpg",
        "ctime": "2019-01-30T21:32:46.809Z",
        "mtime": "2019-01-30T21:32:46.809Z",
        "size": 118146
      },
      {
        "file": "assets/vid/cmhf-inductee-poster.jpg",
        "ctime": "2019-01-30T21:32:46.822Z",
        "mtime": "2019-01-30T21:32:46.822Z",
        "size": 65396
      },
      {
        "file": "assets/vid/tmo-switcher-hp-qs-poster.jpg",
        "ctime": "2019-01-30T21:32:46.830Z",
        "mtime": "2019-01-30T21:32:46.830Z",
        "size": 80733
      },
      {
        "file": "assets/vid/tmo-switcher-results-poster.jpg",
        "ctime": "2019-01-30T21:32:46.848Z",
        "mtime": "2019-01-30T21:32:46.848Z",
        "size": 86043
      },
      {
        "file": "apple-icon.png",
        "ctime": "2019-01-30T21:32:46.542Z",
        "mtime": "2019-01-30T21:32:46.542Z",
        "size": 2609
      },
      {
        "file": "favicon.ico",
        "ctime": "2019-01-30T21:32:46.884Z",
        "mtime": "2019-01-30T21:32:46.884Z",
        "size": 2238
      },
      {
        "file": "favicon.png",
        "ctime": "2019-01-30T21:32:46.884Z",
        "mtime": "2019-01-30T21:32:46.884Z",
        "size": 306
      },
      {
        "file": "assets/img/subpage/vw/vw-01-L@2x.jpg",
        "ctime": "2019-01-30T21:32:46.733Z",
        "mtime": "2019-01-30T21:32:46.733Z",
        "size": 863409
      },
      {
        "file": "assets/img/subpage/vw/vw-01-S@2x.png",
        "ctime": "2019-01-30T21:32:46.735Z",
        "mtime": "2019-01-30T21:32:46.735Z",
        "size": 310405
      },
      {
        "file": "500.html",
        "ctime": "2019-03-06T18:18:22.498Z",
        "mtime": "2019-03-06T18:18:22.498Z",
        "size": 6934
      },
      {
        "file": "assets/img/index/tommyboy.gif",
        "ctime": "2019-01-30T21:32:46.608Z",
        "mtime": "2019-01-30T21:32:46.608Z",
        "size": 2862152
      },
      {
        "file": "assets/img/subpage/odi/odi-01@3x.png",
        "ctime": "2019-01-30T21:32:46.668Z",
        "mtime": "2019-01-30T21:32:46.668Z",
        "size": 1849503
      },
      {
        "file": "assets/img/subpage/odi/odi-02@3x.png",
        "ctime": "2019-01-30T21:32:46.672Z",
        "mtime": "2019-01-30T21:32:46.672Z",
        "size": 352853
      },
      {
        "file": "assets/img/subpage/odi/odi-03@3x.png",
        "ctime": "2019-01-30T21:32:46.677Z",
        "mtime": "2019-01-30T21:32:46.677Z",
        "size": 456977
      },
      {
        "file": "assets/img/subpage/odi/odi-04@3x.png",
        "ctime": "2019-01-30T21:32:46.681Z",
        "mtime": "2019-01-30T21:32:46.681Z",
        "size": 349576
      },
      {
        "file": "assets/img/subpage/odi/odi-05@3x.png",
        "ctime": "2019-01-30T21:32:46.685Z",
        "mtime": "2019-01-30T21:32:46.685Z",
        "size": 333370
      },
      {
        "file": "assets/img/subpage/vw/vw-01-S@3x.png",
        "ctime": "2019-01-30T21:32:46.738Z",
        "mtime": "2019-01-30T21:32:46.738Z",
        "size": 527396
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-destinations@3x.png",
        "ctime": "2019-01-30T21:32:46.754Z",
        "mtime": "2019-01-30T21:32:46.754Z",
        "size": 380158
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-health@3x.png",
        "ctime": "2019-01-30T21:32:46.761Z",
        "mtime": "2019-01-30T21:32:46.761Z",
        "size": 469609
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-remote-key@3x.png",
        "ctime": "2019-01-30T21:32:46.767Z",
        "mtime": "2019-01-30T21:32:46.767Z",
        "size": 434128
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-tracking@3x.png",
        "ctime": "2019-01-30T21:32:46.771Z",
        "mtime": "2019-01-30T21:32:46.771Z",
        "size": 231179
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-01@3x.png",
        "ctime": "2019-01-30T21:32:46.777Z",
        "mtime": "2019-01-30T21:32:46.777Z",
        "size": 410457
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-02@3x.png",
        "ctime": "2019-01-30T21:32:46.782Z",
        "mtime": "2019-01-30T21:32:46.782Z",
        "size": 336331
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-03@3x.png",
        "ctime": "2019-01-30T21:32:46.787Z",
        "mtime": "2019-01-30T21:32:46.787Z",
        "size": 423934
      },
      {
        "file": "assets/img/subpage/vw/vw-watch-04@3x.png",
        "ctime": "2019-01-30T21:32:46.792Z",
        "mtime": "2019-01-30T21:32:46.792Z",
        "size": 329972
      },
      {
        "file": "assets/img/subpage/odi/odi-06@3x.png",
        "ctime": "2019-01-30T21:32:46.688Z",
        "mtime": "2019-01-30T21:32:46.688Z",
        "size": 286595
      },
      {
        "file": "assets/img/subpage/odi/odi-07@3x.png",
        "ctime": "2019-01-30T21:32:46.691Z",
        "mtime": "2019-01-30T21:32:46.691Z",
        "size": 270261
      },
      {
        "file": "assets/img/subpage/odi/odi-08@3x.png",
        "ctime": "2019-01-30T21:32:46.695Z",
        "mtime": "2019-01-30T21:32:46.695Z",
        "size": 306707
      },
      {
        "file": "assets/img/subpage/cmhf/cmhfendsection1@3x.jpg",
        "ctime": "2019-01-30T21:32:46.654Z",
        "mtime": "2019-01-30T21:32:46.654Z",
        "size": 812826
      },
      {
        "file": "assets/img/subpage/odi/odiendsection1@3x.jpg",
        "ctime": "2019-01-30T21:32:46.701Z",
        "mtime": "2019-01-30T21:32:46.701Z",
        "size": 580805
      },
      {
        "file": "assets/img/subpage/odi/odiendsection2@3x.jpg",
        "ctime": "2019-01-30T21:32:46.705Z",
        "mtime": "2019-01-30T21:32:46.705Z",
        "size": 342653
      },
      {
        "file": "assets/img/subpage/vw/vw-phone-assistance@3x.png",
        "ctime": "2019-01-30T21:32:46.748Z",
        "mtime": "2019-01-30T21:32:46.748Z",
        "size": 449935
      },
      {
        "file": "assets/img/subpage/vw/vwendsection1@3x.jpg",
        "ctime": "2019-01-30T21:32:46.798Z",
        "mtime": "2019-01-30T21:32:46.798Z",
        "size": 652401
      },
      {
        "file": "assets/img/subpage/vw/vwendsection2@3x.jpg",
        "ctime": "2019-01-30T21:32:46.803Z",
        "mtime": "2019-01-30T21:32:46.803Z",
        "size": 378158
      },
      {
        "file": "assets/fonts/GT-America-Condensed-Bold.OTF",
        "ctime": "2019-01-30T21:40:09.879Z",
        "mtime": "2019-01-30T21:40:09.879Z",
        "size": 90220
      },
      {
        "file": "assets/fonts/GT-America-Condensed-Bold.woff",
        "ctime": "2019-01-30T21:40:09.880Z",
        "mtime": "2019-01-30T21:40:09.880Z",
        "size": 59976
      },
      {
        "file": "assets/js/main.js",
        "ctime": "2019-03-06T17:45:19.768Z",
        "mtime": "2019-03-06T17:45:19.768Z",
        "size": 13177
      },
      {
        "file": "assets/js/bodyScrollLock.min.js",
        "ctime": "2019-01-31T22:51:57.008Z",
        "mtime": "2018-11-24T10:10:04.000Z",
        "size": 2873
      },
      {
        "file": "assets/img/index/tile-cmhf.jpg",
        "ctime": "2019-02-10T20:42:06.683Z",
        "mtime": "2019-01-30T21:40:09.882Z",
        "size": 274183
      },
      {
        "file": "assets/img/index/tile-odi.jpg",
        "ctime": "2019-02-10T20:42:06.690Z",
        "mtime": "2019-01-30T21:32:46.552Z",
        "size": 137340
      },
      {
        "file": "assets/img/index/tile-tmo.jpg",
        "ctime": "2019-02-10T20:42:06.694Z",
        "mtime": "2019-01-30T21:40:09.883Z",
        "size": 79135
      },
      {
        "file": "assets/img/index/tile-vw.jpg",
        "ctime": "2019-02-10T20:42:06.697Z",
        "mtime": "2019-01-30T21:40:09.884Z",
        "size": 179159
      },
      {
        "file": "assets/img/subpage/bg-cmhf-s.jpg",
        "ctime": "2019-02-10T23:56:42.432Z",
        "mtime": "2019-02-10T23:56:42.365Z",
        "size": 77042
      },
      {
        "file": "assets/img/subpage/bg-odi-s.jpg",
        "ctime": "2019-02-10T23:56:42.399Z",
        "mtime": "2019-02-10T23:56:42.100Z",
        "size": 40392
      },
      {
        "file": "assets/img/subpage/bg-tmo-s.jpg",
        "ctime": "2019-02-10T23:56:42.359Z",
        "mtime": "2019-02-10T23:56:42.100Z",
        "size": 23808
      },
      {
        "file": "assets/img/subpage/bg-vw-s.jpg",
        "ctime": "2019-02-10T23:56:42.455Z",
        "mtime": "2019-02-10T23:56:42.431Z",
        "size": 53501
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\"-min\"}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}