extends layout.pug	

block prepend head
	- var pageTitle = "T-Mobile Switcher"
block content
	a.allWork.small(href="index.html") Back to works
	section.content-container
		.grid.subpage-hero#hero-tmo
			+mixin_hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
			p.description This little micro experience for prospective customers starts on T-Mobile’s homepage (some other ads and social junk pointed to it as well). Three quick questions and you’re on your way. You’re taken to the Results page, which highlights the amount you’ll save per year, the other benefits that come with the Un-Carrier, and some other goofy bits to put a smile on their face. Most of the experience shown here made it to production, but a couple extra pieces got sprinkled in for fun.
