extends layout.pug	

block prepend head
	- var pageTitle = "Volkswagen Car-Net"
block content
	#menu-btn
		<svg id="burger" width="14" class="openmenu" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path class="top" d="M0 6h30v2H0z"/><line class="mid" x1="0" y1="15" x2="30" y2="15" stroke-width="1.4" vector-effect="non-scaling-stroke"/><path class="bot" d="M0 22h30v2H0z"/></svg>
		#menuText.small Other work
		
	.container
		section.grid-container.intro.revealMove.load-hidden#hero-vw
			.content-hero.revealMove.load-hidden
				+mixin_hero('Volkswagen Car-Net','Connect','App | Concept, Design, & Motion')
				.herotext.description
					p Car-Net is a service by Volkswagen that allows you to remotely interact with your car from your device.
					p This case study is a fork of some pitch work I was apart of at Razorfish. The product redesign was a small part of the pitch, so afterwards I went back and thought more about what could make it a more interesting and useful tool. 
	
		.section-title The App
		section.grid-container.content
			.eyebrow.revealFade.load-hidden Dashboard
			.img-full.revealFade.load-hidden
				img(src='assets/img/subpage/vw/vw-dashboard@2x.png')
			
			+mixin_5050-iRight('Remote key', 'The need for physical keys seems to be dwindling, so why not get rid of a fob too? Here you have all the functionality, plus much more.', 'assets/img/subpage/vw/vw-phone-remote-key@2x.png')
			+mixin_5050-iLeft('Tracking', 'The need for physical keys seems to be dwindling, so why not get rid of a fob too? Here you have all the functionality, plus much more.', 'assets/img/subpage/vw/vw-phone-tracking@2x.png')
			+mixin_5050-iRight('Destinations', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-phone-destinations@2x.png')
			+mixin_5050-iLeft('Health', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-phone-health@2x.png')
			+mixin_5050-iRight('Assistance', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-phone-assistance@2x.png')
		
		#vwendsection1
			
		.section-title Watch
		section.grid-container.content
			+mixin_5050-iRight('Remote key', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-watch-01@2x.png')
			+mixin_5050-iLeft('Force Touch Menu', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-watch-02@2x.png')
			+mixin_5050-iRight('Alerts & Notifications', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-watch-03@2x.png')
			+mixin_5050-iLeft('Voice Control', 'Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.', 'assets/img/subpage/vw/vw-watch-04@2x.png')
		
		#vwendsection2

		.footer
			#circle.nextPrjt
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
						<defs>
								<path id="circlePath" d=" M 150, 150 m -120, 0 a 120,120 0 0,1 240,0 a 120,120 0 0,1 -240,0 "/>
						</defs>
						<circle cx="150" cy="150" r="150" fill="none"/>
						<g>
								<use xlink:href="#circlePath" fill="none"/>
								<text fill="#9B9B9B">
										<textPath xlink:href="#circlePath">Odigo • Automotive • Insurance •</textPath>
								</text>
						</g>
				</svg>
			a#next.title.revealMove.load-hidden(href="odi.html") Next
