/* ––––––––––––––––––––––––––––––––––––––––––––––––
Colors
––––––––––––––––––––––––––––––––––––––––––––––––
*/

$gray95: #F2F2F2;
$gray90: #E6E6E6;
$gray80: #CCCCCC;
$gray60: #999999;
$gray40: #4c4c4c;
$gray20: #333333;
$gray15: #262626;

$white: #FFFFFF;

$blue: #0FBFFF;
$bluetrans: #0fbfffc9;
