/* ––––––––––––––––––––––––––––––––––––––––––––––––
Colors
––––––––––––––––––––––––––––––––––––––––––––––––
*/

$gray95: #F2F2F2;
$gray80: #CCCCCC;
$gray60: #999999;
$gray15: #262626;

$white: #FFFFFF;
