/* ––––––––––––––––––––––––––––––––––––––––––––––––
Grid
––––––––––––––––––––––––––––––––––––––––––––––––
*/
.content-container{
  margin:0 0 0 60px;
  background:white;
}

.grid{
	padding:0 7.778%;
	height:78vh;
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:100%;
	grid-column-gap: 24px;
  align-items: center;
}

.divider{
  margin:0 0 0 7.778%;
  height:1px;
  background:$gray95;
  content:"";
}

.col01, .col02, .col03, .col04, .col05, .col06, .col07, .col08, .col09, .col10, .col11, .col12{
	background:white;
  border:1px solid pink;
}

.content-hero{
  grid-column-start: 1;
  grid-column-end: 12;
  color: $gray15;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;

  .hero-eyebrow{
    font-family: $sans-stack;
    font-size: 18px;
    letter-spacing: 3.25px;
    text-transform: uppercase;
    margin-bottom:17px;
  }

  .hero-title{
    font-family: $serif-stack;
    font-size: 148px;
    letter-spacing: -0.49px;
    line-height: 132px;
    margin-bottom:50px;
  }

  .hero-info{
    font-family: $mono-stack;
    font-size: 18px;
    color: #CCCCCC;
    line-height: 18px;
  }
}
