/* ––––––––––––––––––––––––––––––––––––––––––––––––
Grid
––––––––––––––––––––––––––––––––––––––––––––––––
*/


.grid{
	padding:0 7.778%;
	height:78vh;
  min-height:510px;
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-template-rows:100%;
	grid-column-gap: 24px;
  align-items: center;
	//opacity:0;
}

.divider{
  margin:0 0 0 7.778%;
  height:1px;
  background:$gray95;
  content:"";
}

/*
.col01, .col02, .col03, .col04, .col05, .col06, .col07, .col08, .col09, .col10, .col11, .col12{
	background:white;
  border:1px solid pink;
}*/
