body{
  overflow:hidden;
  // stopped the page from scrolling left to right once info-container is active. BUT it stopped elastic scrolling.
}

.content-container{
  margin:0 0 0 60px;
  background:$white;
  height: 100vh;
  width:calc(100% - 60px);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  //opacity: 1;
  //transition:opacity 750ms $cubic-bezier;

  // -- rotate 3d
  //position: absolute;
  //z-index: -2;
  //transform-origin:right bottom;

}

.content-container-animatable{
  @include transition-cubic(750ms);
}

.content-container-active{
  overflow: hidden !important;
  will-change:transform;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

/*
.show{
  opacity:1;
}*/



.content-hero{
  grid-column-start: 1;
  grid-column-end: 12;
  color: $gray15;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;

  .hero-eyebrow{
    font-family: $sans-stack;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3.25px;
    text-transform: uppercase;
    margin-bottom:42px;
  }

  .hero-title{
    font-family: $serif-stack;
    font-size: 148px;
    letter-spacing: -0.49px;
    line-height: 132px;
    margin-bottom:24px;
  }

  .hero-info{
    font-family: $mono-stack;
    font-size: 18px;
    color: #CCCCCC;
    line-height: 18px;
  }
}

// hero backgrounds ––––––––––––––––––––––––––––––––––––––––––

// mixin ––––––––––––––––––––
@mixin hero-bg($img-url){
  background: no-repeat right / auto 100% url($img-url);
}

//ids –––––––––––––––––––––––

#hero-tmo{
  @include hero-bg("../img/index/bg-tmo.jpg");
}

#hero-vw{
  @include hero-bg("../img/index/bg-vw.jpg");
}

#hero-red{
  @include hero-bg("#");
}

#hero-cmhf{
  @include hero-bg("../img/index/bg-cmhf.jpg");
}
