body{
  overflow:hidden;
  // stopped the page from scrolling left to right once info-container is active. BUT it stopped elastic scrolling.

	@include text-render;

}

a:focus{
  border:none;
  outline:none;
}

.floatRight{
	float: right;
}

.content-container{
  //opacity:0;
  //visibility: hidden;
  margin:0 0 0 60px;
  background:$white;
  height: 100vh;
  width:calc(100% - 60px);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

  //opacity: 1;
  //transition:opacity 750ms $cubic-bezier;

  // -- rotate 3d
  //position: absolute;
  //z-index: -2;
  //transform-origin:right bottom;

}

  .hidden{
    display:none;
  }

.subcontent-container{
  height:auto;
  overflow:hidden;
}

.content-container-animatable{
  @include transition-cubic(750ms);
}

.content-container-active{
  overflow: hidden !important;
  will-change:transform;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

/*
.show{
  opacity:1;
}*/



.content-hero{
  grid-column-start: 1;
  grid-column-end: 12;
	//grid-row-start:5;
	//grid-row-end:9;
	color: $gray15;
	padding-top:220px;
	.eyebrow{
		margin-bottom:42px;
	}

	.title{
		margin-bottom:24px;
	}

/*
text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;*/
}



// hero backgrounds ––––––––––––––––––––––––––––––––––––––––––

// mixin ––––––––––––––––––––
@mixin hero-bg($img-url){
  background: no-repeat top right / auto 700px url($img-url);
}

//ids –––––––––––––––––––––––

#hero-tmo{
  @include hero-bg("../img/index/bg-tmo.jpg");
}

#hero-vw{
  @include hero-bg("../img/index/bg-vw.jpg");
}

#hero-odi{
  @include hero-bg("../img/index/bg-odi.jpg");
}

#hero-cmhf{
  @include hero-bg("../img/index/bg-cmhf.jpg");
}
