//menu

#menu-btn{
	position:fixed;
	z-index:120;
	display:flex;
	transform-origin: top right;
	transform:rotate(-90deg);
	top: 30px;
  right: 80px;
	height:60px;
	align-items: center;
  justify-content: flex-end;
	opacity:.5;
	cursor: pointer;
	transition: all .25s;
	.small{
		margin:0 30px 0 0;
	}
	&:hover, &:focus{
		opacity: 1;
	}
}

#burger{
	order:1;
	transform:rotate(90deg);
	perspective: 800px;
	stroke:$gray60;
	fill:$gray60;
}

#menuText{
	order:0;
	text-align: right;
}



#menu-container{
	opacity: 0;
	visibility:hidden;
}


.menu{
	background:$gray15;
	width:calc(100% - 60px);
	margin:0 0 0 60px;
	overflow:scroll;
	-webkit-overflow-scrolling:touch;
	position:fixed;
	bottom:0;
	top:0;
	right:0;
	z-index:110;
	height:100vh;
	padding:248px 80px;
	text-align:center;

	li:nth-last-child(1n+2){
		margin:0 0 248px 0;
	}

	li:nth-child(4){
		margin:0 0 0 0;
	}

	.title, .eyebrow{
		transition: all .75s;
		//transform:scale3d(1,1,1);
	}

	.eyebrow{
		margin-bottom:40px;
	}

	.title{
		-webkit-text-stroke: 1px $white;
		line-height: 148px;
	}

	//hovers for li located in mediaqueries


}


.dark{
	color:$white;
}

li.content-hero.dark{
	grid-column: span 12;
}

#menu-container #name{
	display:none;
}
