// –––––––––––––––––––––––––––––––––––––––––––––
// Nav –––––––––––––––––––––––––––––––––––––––––
// –––––––––––––––––––––––––––––––––––––––––––––


//variables ––––––––––––

$cubic-bezier: cubic-bezier(0.4, 0, .2, 1);


//mixin ––––––––––––––––

@mixin text-render{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@mixin transition-cubic($time){
  transition: all $time $cubic-bezier;
}

@mixin transition-linear($time){
  transition: all ($time) linear;
}

@mixin transition-easeOut($time){
  transition: all ($time) ease-out;
}

@mixin  staggered_transitions($nth:1,$items:2,$initial:0,$step:.1){
	@for $i from $nth through $items{
		&:nth-of-type(#{$i}){
			transition-delay:#{$initial}ms;
		}
		$initial: $initial + $step;
	}
}

@mixin hover_underline($underline_gap:1,$underline_thickness:1){
  &:after, &:before{
    content: '';
    position: absolute;
    top: calc(100% + #{$underline_gap}px);
    width: 0;
    right: 0;
    height: #{$underline_thickness}px;
  }
  &:before {
    transition: width 400ms cubic-bezier(0.51, 0.18, 0, 0.88) 100ms;
    background: lighten($gray60, 40);
  }
  &:hover{
    color:lighten($gray60, 40);
    &:after, &:before {
      width: 100%;
      left: 0;
    }
  }
}


// styling ––––––––––––––

#nav-container{
  position:fixed;
  z-index:10;
  top:auto;
  bottom:0;
  min-width:510px;
  width:100vh;
  background:$gray15;
  border-bottom: 1px solid $gray20;
  //height:60px;
  transform-origin: bottom left 0;
  transform:rotate(-90deg) translate3d(0,100%,0);
}

.nav-content{
  font-family: $mono-stack;
  height: 60px;
  @include text-render;
}

/*
#logo-container{

  float:right;
  width:25%;
  //cursor:pointer;
}*/



#logo-type{
  position:relative;
  float:right;
  margin: 20px 27px 20px 27px;
  display:block;
	text-align:right;
	color:$white;
	font-weight:700;
	font-size: 14px;
	line-height:20px;
	letter-spacing: 1px;
  cursor:pointer;
  transition: all 250ms ease-in;
  @include hover_underline($underline_gap:-1,$underline_thickness:1);


  /*
@include transition-cubic(550ms);
  &:hover{
    will-change: transform;
    transform: translate3d(-20px,0,0);
  }
  &:after{
    content:url(../img/ic_info_outline_14px.svg);
    position: absolute;
    width: 14px;
    right: 20px;
    top: 20px;
    transform: rotate(90deg);
    opacity: 0;
    transition: opacity 400ms $cubic-bezier;
  }
  &:hover,&:active,&:focus{
    &:after{
      //transform:rotate(90deg);
      transition-delay:500ms;
      opacity:.5;
      right:0;
      //right: 153px;
    }
  }*/
}

#social-container{
	float:left;
	padding:24px 0 22px 24px;
	line-height:10px;
  li{
  	float:left;
  	padding-right:20px;
    a{
    	text-decoration:none;
      transition: all 250ms ease-in;
      position: relative;
      @include hover_underline($underline_gap:1,$underline_thickness:1);
    }
  }
}

#social-container li:nth-child(1){
	padding-right:24px;
}


// info - about me ––––––––

.info-container{
  position:fixed;
  z-index:5;
  top:0;
  left:-400px;
  min-height:510px;
  height:100vh;
  //margin-left:60px;
  padding-bottom:44px;
  background:$gray15;
  @include text-render;
  font-family: $sans-stack;
  font-weight:400;
  font-size:18px;
  color: $gray80;
  //box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  overflow:scroll;
  /*
&:after{
    content: '';
    position:absolute;
    display: block;
    left:375px;
    top:0;
    width:100vw;
    height:100vh;
    pointer-events: auto;
    background: rgba(255, 0, 0, 1);;
  }*/
}

#close{
  position:absolute;
  z-index:10 !important;
  right:15px;
  top:47px;
  opacity:0;
  //margin: 10px 20px;
  //padding: 5px;
  cursor:pointer;
  @include hover_underline($underline_gap:1,$underline_thickness:1);
  @include transition-cubic(250ms);
  //animation: closeFadeIn 750ms $cubic-bezier 550ms reverse;
  //animation-fill-mode: both;
}

.info-content{
  width:255+60+60px;
  padding: 57px 60px 0 60px;
  opacity:0;
  //@include text-render;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}


.info-label{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color:$gray40;
  padding-bottom:16px;
}

.experience{
  padding-bottom:16px;

  p{
    padding-bottom:4px;
  }
}


// info interaction –––––––––––––––

.info-container-animatable{
  @include transition-cubic(750ms);
}

.info-container-active{
  will-change:transform;
  -webkit-transform: translateX(460px);
  transform: translateX(460px);
  box-shadow: 0 0 110px 40px rgba(0, 0, 0, 0.2);
  //pointer-events:none;
}

.info-content-animatable{
  @include transition-cubic(750ms);
}

.info-content-active{
  //will-change: transform;
  transition-delay:550ms;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.info-content-active {
  @include staggered_transitions($items:3,$nth:2,$initial:(550 + 150),$step:150);
  //update the $items to the number of children in the .info-container
}

@keyframes closeFadeIn {
    from {opacity: 0;transform:rotate(-90deg) translateX(0px)}
    to {opacity: 1;transform:rotate(-90deg) translateX(10px)}
}

.close-animatable{
  //transition: opacity 750ms $cubic-bezier;
}

.close-active{
  //transition-delay: 550ms !important;
  animation: closeFadeIn 750ms $cubic-bezier 350ms;
  animation-fill-mode: both;
  opacity:1 !important;

}
