/* ---------------------------------------------
Nav
--------------------------------------------- */

//variables ––––––––––––
$cubic-bezier: cubic-bezier(0.4, 0, .2, 1);


//mixin ––––––––––––––––

@mixin text-render{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@mixin transition-cubic($time){
  transition: all $time $cubic-bezier;
}

@mixin transition-linear($time){
  transition: all ($time) linear;
}

@mixin transition-easeOut($time){
  transition: all ($time) ease-out;
}

@mixin  staggered_transitions($nth:1,$items:2,$initial:0,$step:.1){
	@for $i from $nth through $items{
		&:nth-of-type(#{$i}){
			transition-delay:#{$initial}ms;
		}
		$initial: $initial + $step;
	}
}

// styling ––––––––––––––

#nav-container{
  position:fixed;
  z-index:2;
  top:auto;
  bottom:0;
  min-width:510px;
  width:100vh;
  background:$gray15;
  border-bottom: 1px solid $gray20;
  //height:60px;
  transform-origin: bottom left 0;
  transform:rotate(-90deg) translate3d(0,100%,0);
}

.nav-content{
  font-family: $mono-stack;
  height: 60px;
  @include text-render;
}

/*
#logo-container{

  float:right;
  width:25%;
  //cursor:pointer;
}*/



#logo-type{
  float:right;
  padding: 20px 27px 20px 27px;
  display:block;
	text-align:right;
	color:$white;
	font-weight:700;
	font-size: 14px;
	line-height:20px;
	letter-spacing: 1px;
  background:none;
  border:none;
}
#logo-type:focus{
  outline:none;
}

#social-container{
	float:left;
	padding:24px 0 22px 24px;
	line-height:10px;
  li{
  	float:left;
  	padding-right:20px;
    a{
    	text-decoration:none;
      transition: all 250ms ease-in;
      position: relative;
      &:after,
      &:before {
        content: '';
        position: absolute;
        top: calc(100% + 2px);
        width: 0;
        right: 0;
        height: 1px;
      }
      &:before {
        transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
        background: lighten($gray60, 40);
      }
      &:hover{
        color:lighten($gray60, 40);
        &:after,
        &:before {
          width: 100%;
          left: 0;
        }
      }
    }


    /*
a:hover{
      color:lighten($gray60, 40);
      //text-decoration: underline;
    }*/


  }
}

#social-container li:nth-child(1){
	padding-right:24px;
}


// info - about me

.info-container{
  position:fixed;
  z-index:1;
  top:0;
  left:-400px;
  min-height:510px;
  height:100vh;
  //margin-left:60px;
  padding-bottom:44px;
  background:$gray15;
  font-family: $sans-stack;
  font-weight:400;
  font-size:18px;
  color: $gray80;
  overflow:scroll;
}

.info-content{
  width:255+60+60px;
  padding: 57px 60px 0 60px;
  opacity:0;
  @include text-render;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

.info-label{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color:$gray40;
  padding-bottom:16px;
}

.experience{
  padding-bottom:16px;

  p{
    padding-bottom:4px;
  }
}


// info interaction –––––––––––––––

.info-container-animatable{
  @include transition-cubic(750ms);
}

.info-container-active{
  will-change:transform;
  -webkit-transform: translateX(460px);
  transform: translateX(460px);
  //pointer-events:none;
}

.info-content-animatable{
  @include transition-cubic(750ms);

}

.info-content-active{
  //will-change: transform;
  transition-delay:550ms;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.info-content-active {
  @include staggered_transitions($items:3,$nth:2,$initial:(550 + 150),$step:150)
}

.content-container-animatable{
  @include transition-cubic(750ms);
}

.content-container-active{
  overflow: hidden !important;
  will-change:transform;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);

// transform: perspective(1000px) rotateY(-15deg);

}
