//––––––––––––––––––––––––––––––––––––––
//hero backgrounds
//––––––––––––––––––––––––––––––––––––––

#hero-tmo{
	@include subpageHero('../img/subpage/bg-tmo.jpg');
}

#hero-vw{
	@include subpageHero('../img/subpage/bg-vw.jpg');
}

#hero-odi{
	@include subpageHero('../img/subpage/bg-odi.jpg');
}

#hero-cmhf{
	@include subpageHero('../img/subpage/bg-cmhf.jpg');
}

#hero-aflac{
	@include subpageHero('../img/subpage/bg-aflac.jpg');
}

#hero-pt-gift{
	@include subpageHero('../img/subpage/bg-pt-gift.jpg');
}



//––––––––––––––––––––––––––––––––––––––
//content
//––––––––––––––––––––––––––––––––––––––

.description{
	margin-top:30px;
}

.section-title{
	position:relative;
	//display:inline;
	z-index:1;
	//float: right;
	transform-origin: top right;
	transform:rotate(-90deg);
	height:0;
	width:max-content;
	right:22vw;
	text-align:right;
}

.fix{
	top:100px;
}

.content{
	margin-top:10px;
	grid-row-gap:30px;
	position:relative;
	z-index:10;
	// .eyebrow{
	// 	grid-column:1/span 12;
	// 	margin-bottom:0;
	// }
}

img{
	width:100%;
	height:auto;
	display:flex;
	align-self: center;
}

.wrapper-12{
	grid-column: 1/span 12;
	grid-column-gap:inherit;
}

.wrapper-9{
	grid-column:1/span 10;
	grid-column-gap:inherit;
}

.video, .img-full {
	//grid-row-start: auto;
	display:flex;
	grid-column: 1/span 12;
	margin:0 0 76px 0;
	@include softShadow($blur:200);
}

video.video{
	width:100%;
}

.img-9{
	grid-column:span 9;
	margin-bottom:30px;
	img{
		@include softShadow($blur:200);
	}
}

.caption{
	margin: 0 0 30px 0;
	grid-column: 1/span 10;
}


//––––––––––––––––––––––––––––––––––––––
//5050 component
//––––––––––––––––––––––––––––––––––––––

.fiftyfifty{
	display:grid;
	grid-template-columns:inherit;
	grid-column-gap:inherit;
	grid-column:1/span 12;
}

.right, .left{
	align-self:center;
	display:flex;
	flex-direction: column;
}

.left{
	grid-column:1/span 6;
}

.right{
	grid-column:7/span 6;
}

.iRight-l{
	.right{
		order:1;
	}
	.left{
		order:0;
	}
}


//––––––––––––––––––––––––––––––––––––––
//overlap (used on CMHF & VW)
//––––––––––––––––––––––––––––––––––––––

.overlap-component{
	display:grid;
	grid-template-columns:inherit;
	grid-gap:inherit;
	grid-column:1/span 12;
	margin-bottom: 100px;
	.eyebrow{
		grid-column:1/span 12;
		margin-bottom:0;
	}
}

.desktop-comp{
	grid-column:1/span 9;
	grid-row-start: 2;
	img{
		@include softShadow($blur:200, $alpha:0.1)
	}
}

.mobile-comp{
	grid-column:7/span 6;
	grid-row-start:2;
}

.desktop-comp12{
	grid-column:1/span 12;
	grid-row-start: 2;
	img{
		@include softShadow($blur:200, $alpha:0.1)
	}
}

	//--overlap component 3up (used on aflac)

._3up{
	margin-bottom:30rem !important;
}

.desktop-comp1{
	grid-column:1/span 6;
	grid-row-start: 2;
	@include softShadow($blur:200, $alpha:0.1)
}

.desktop-comp2{
	grid-column:4/span 6;
	grid-row-start: 2;
	position:relative;
	top:15rem;
	@include softShadow($blur:200, $alpha:0.1)
}

.desktop-comp3{
	grid-column:7/span 6;
	grid-row-start: 2;
	position:relative;
	top:30rem;
	@include softShadow($blur:200, $alpha:0.1)

}


//––––––––––––––––––––––––––––––––––––––
//project credits
//––––––––––––––––––––––––––––––––––––––

.credits{
	li{
		padding: 0 0 5px 0;
	}
	p{
		font-size:12px;
		margin-bottom:0;
	}
}





//––––––––––––––––––––––––––––––––––––––
//image section breaks
//––––––––––––––––––––––––––––––––––––––


#tmoendsection1{
	content:'';
	width:100%;
	height:30vw;
	background:
		linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%),
		no-repeat bottom left / 100% auto url(../img/subpage/tmo-switcher/tmoendsection1-bg.jpg);
	margin:0 0 10vw 0;
}

#tmoendsection2{
	content:'';
	width:100%;
	height:30vw;
	background:
		linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 20%),
		no-repeat bottom left / 100% auto url(../img/subpage/tmo-switcher/tmoendsection2-bg.jpg)
	;
	//margin:0 0 10vw 0;
}

#vwendsection1{
	content:'';
	width:100%;
	height:40vw;
	background:
		no-repeat bottom left / 100% auto url(../img/subpage/vw/vwendsection1@2x.jpg)
	;
}

#vwendsection2{
	content:'';
	width:100%;
	height:40vw;
	background:
		no-repeat bottom left / 100% auto url(../img/subpage/vw/vwendsection2@2x.jpg)
	;
}

#odiendsection1{
	content:'';
	width:100%;
	height:44vw;
	background:
		no-repeat center left / 100% auto url(../img/subpage/odi/odiendsection1@3x.jpg)
	;
}

#odiendsection2{
	content:'';
	width:100%;
	height:31vw;
	background:
		no-repeat bottom left / 100% auto url(../img/subpage/odi/odiendsection2@3x.jpg)
	;
}

#cmhfendsection1{
	content:'';
	width:100%;
	height:36vw;
	background:
		no-repeat bottom left / 100% auto url(../img/subpage/cmhf/cmhfendsection1@3x.jpg)
	;
}

#aflacendsection1{
	content:'';
	width:100%;
	height:34vw;
	background:
		no-repeat top left / 100% auto url(../img/subpage/aflac/aflacendsection1@3x.jpg)
	;
}

.leaf{
	width:14vw;
	position:relative;
	z-index: 500;
	left:32vw;
	top:-17vh;
}



#aflacendsection2{
	content:'';
	width:100%;
	height:52vw;
	background:
		no-repeat center left / 100% auto url(../img/subpage/aflac/aflacendsection2@3x.jpg)
	;
}

#aflacendsection3{
	content:'';
	overflow-y:visible;
	width:100%;
	height:33vw;
	background:
		no-repeat bottom left / 100% auto url(../img/subpage/aflac/aflacendsection3@3x.jpg)
	;
}

.bubbles-fg{
	width:53vw;
	position:absolute;
	z-index: 500;
	left:45vw;
	bottom:-15vw;
}

.bubbles-mg{
	width:57vw;
	position:absolute;
	z-index:400;
	left:35vw;
	bottom:-5vw;
}

.bubbles-bg{
	width:41vw;
	position:absolute;
	left:55vw;
	bottom:9vw;
}


#ptendsection1{
	content:'';
	width:100%;
	height:65vw;
	background:
		no-repeat center center / 100% auto url(../img/subpage/pt-gift/ptendsection1C@3x.jpg)
	;
}

#ptendsection2{
	content:'';
	width:100%;
	height:62vw;
	background:
		no-repeat center center / 100% auto url(../img/subpage/pt-gift/ptendsection1@3x.jpg)
	;
}

#ptendsection3{
	content:'';
	width:100%;
	height:53vw;
	background:
		no-repeat center bottom / 100% auto url(../img/subpage/pt-gift/ptendsection3@3x.jpg)
	;
}

//––––––––––––––––––––––––––––––––––––––
//footer
//––––––––––––––––––––––––––––––––––––––

.footer{
	position:relative;
	min-height:500px;
}


.nextPrjt#circle{
	position:absolute;
	top:190px;
	right:50px;
}

#next.title{
	position: absolute;
  z-index: 110;
  top: 240px;
  right: 100px;
  text-align: right;
	transition:color 1.25s ease;
	&:hover, &:focus{
		color:$gray15;
	}
}
