.subsection{

}

a.allWork{
	position:absolute;
	z-index:10 !important;
	right:15px;
	top:65px;
	transform: rotate(-90deg);
	@include hover_underline($underline_gap:1,$underline_thickness:1,$color:#{$gray60});
	@include transition-cubic(250ms);
	.small{
		margin:10px 9px;
	}
}

.icon{
	padding:10px;
	width:14px;
}

@mixin softShadow($blur:200){
	box-shadow: 0 10px #{$blur}px 0 rgba(0,0,0,0.16);
}

.subpage-content{
	position:relative;
	z-index:5;
	grid-column-end:span 13;
	img{
		@include softShadow(200);
		position:relative;
		z-index:5;
	}
	.info{
		margin-top:30px;
	}
}

.description{
	padding:100px 0;
	color: $gray80;
}

img{
	width:100%;
	height:auto;
	grid-column-start: auto;
  grid-row-start: auto;
	display:flex;
}

.span-12{
	grid-column-end:span 12;
	.eyebrow{
		margin-bottom:30px;
	}
	img{
		margin-bottom:48px;
	}
}

.span-9{
	grid-column-end:span 9;
	img{
		margin-top:52px;
	}
}

.span-6{
	grid-column-end:span 6;
}

#bottom-01{
	content:'';
	width:100%;
	height:486px;
	background: no-repeat top left / 100% auto url(../img/subpage/tmo-switcher/section-01-bg.jpg);
	z-index:0;
	top:-100px;
}

.title-section{
	position:relative;
	z-index:0;
	transform:rotate(-90deg);
	float: right;
	transform-origin: bottom right;
	height:0;
	right:200px;
	text-align:right;
	color:$gray95;

}
