/* ––––––––––––––––––––––––––––––––––––––––––––––––
Type
––––––––––––––––––––––––––––––––––––––––––––––––
*/

$mono-stack: "FiraMonoOT", "Courier New", Courier, monospace;
$sans-stack: 'WorkSans-Bold',Helvetica,Arial,sans-serif;
$serif-stack: 'TRYVesterbro-Poster',serif;
