/* ––––––––––––––––––––––––––––––––––––––––––––––––
Type
––––––––––––––––––––––––––––––––––––––––––––––––
*/

$mono-stack: "FiraMonoOT", "Courier New", Courier, monospace;
$sans-stack: 'Work Sans',Helvetica,Arial,sans-serif;
$serif-stack: 'TRYVesterbro-Poster',serif;

.small, #nav-container a{
  font-family: $mono-stack;
  color:$gray60;
  font-size:11px;
}

p{
  line-height: 24px;
	font-family: $sans-stack;
}
