/* ––––––––––––––––––––––––––––––––––––––––––––––––
Type
––––––––––––––––––––––––––––––––––––––––––––––––
*/

$mono-stack: "FiraMonoOT", "Courier New", Courier, monospace;
$sans-stack: 'Work Sans',Helvetica,Arial,sans-serif;
$serif-stack: 'TRYVesterbro-Poster',serif;

.small, #nav-container a{
  font: 11px $mono-stack;
	color:$gray60;
}

p{
	font: 16px/24px $sans-stack;
	margin-bottom: 15px;
	.deemphasize{
		color: $gray60;
	}
}

.eyebrow{
  font: 700 18px $sans-stack;
	color: $gray15;
	text-transform:uppercase;
	letter-spacing: 3.25px;
	margin-bottom: 25px;
}

.title{
  font:148px/132px $serif-stack;
	letter-spacing: -0.49px;
}

.info{
  font: 18px/18px $mono-stack;
	color: $gray80;
}

.title-section{
	font: 320px $serif-stack;
}
