section.content-container
  .grid#hero-tmo
    +mixin-hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
  .divider
  section.grid#hero-vw
    +mixin-hero('Volkswagen Car-Net','Smart Car','App | Concept, Design, & Motion')
  .divider
  section.grid#hero-cmhf
      +mixin-hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
  .divider
