section.content-container
  a.grid#hero-tmo(href="#")
    +mixin_hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
  .divider
  a.grid#hero-vw(href="#")
    +mixin_hero('Volkswagen Car-Net','Smart Car','App | Concept, Design, & Motion')
  .divider
  a.grid#hero-cmhf(href="#")
      +mixin_hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
  .divider
  a.grid#hero-tmo(href="#")
    +mixin_hero('T-Mobile','Switcher','Web | Concept, Design, & Motion')
  .divider
  a.grid#hero-vw(href="#")
    +mixin_hero('Volkswagen Car-Net','Smart Car','App | Concept, Design, & Motion')
  .divider
  a.grid#hero-cmhf(href="#")
      +mixin_hero('Country Music Hall of Fame','Preserve','Web | Concept, Design, & Motion')
  .divider
