block menu
  //-menu
  ul#menu-container.menu.dark
    li.menuListItem
      a.dark(href="tmo-switcher.html")
        .eyebrow.dark T-Mobile
        .title Switch
    li.menuListItem
      a.dark(href="vw.html")
        .eyebrow.dark Volkswagen Car-net
        .title Connect
    li.menuListItem
      a.dark(href="aflac.html")
        .eyebrow.dark Aflac
        .title Protect
    li.menuListItem
      a.dark(href="cmhf.html")
        .eyebrow.dark Country Music Hall of Fame
        .title Preserve
    li.menuListItem
      a.dark(href="odi.html")
        .eyebrow.dark Odigo Insurance
        .title Ensure
    
    a#home(href="index.html") Back to Home
