#nav-container
	.nav-content
		h1#logo-type Isaac Martin
		#social-container
			ul.small
				li
					img#logo-mark(src='assets/img/logo-mark.svg', alt="")
				li
					a(href='https://www.linkedin.com/in/immartin/' target='_blank') LinkedIn
				li
					a(href='https://twitter.com/isaacmart_in' target='_blank') Twitter
				li
					a(href='https://www.behance.net/isaacmartin/' target='_blank') Behance
				li
					a(href='https://dribbble.com/isaacmartin' target='_blank') Dribbble
.info-container
	.close.small close
	.info-content
		.info-label About
		p #{bio}
	.info-content
		.info-label Experience
		ul
			+mixin_experience('SapientRazorfish','2014 - present')
			+mixin_experience('The Tombras Group','2011 - 2014')
			+mixin_experience('Cornerstone Center for the Arts','2009 - 2011')
