#nav-container
	.nav-content
		h1#logo-type Isaac Martin
		#social-container
			a#logo-mark(href='../index.html')
				img(src='assets/img/logo-mark.svg', alt="")
			ul.social-links.small
				li.social
					a(href='https://www.linkedin.com/in/immartin/' target='_blank') LinkedIn
				li.social
					a(href='https://twitter.com/isaacmart_in' target='_blank') Twitter
				li.social
					a(href='https://www.behance.net/isaacmartin/' target='_blank') Behance
				li.social
					a(href='https://dribbble.com/isaacmartin' target='_blank') Dribbble
.info-container
	.close.small close
	.info-content
		.info-label About
		p #{bio}
	.info-content
		.info-label Experience
		ul
			+mixin_experience('SapientRazorfish','2014 - present')
			+mixin_experience('The Tombras Group','2011 - 2014')
			+mixin_experience('Cornerstone Center for the Arts','2009 - 2011')
