#nav-container
  .nav
    #logo-container
      h1#logo-type Isaac Martin
    #social-container
      ul
        li
          img(src='assets/img/logo-mark.svg', alt="")
        li
          a(href='#') LinkedIn
        li
          a(href='#') Twitter
        li
          a(href='#') Behance
        li
          a(href='#') Dribbble
